<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xl.ems.ynnhjc.mapper.DeviceConfigureModelMapper" >
  <resultMap id="BaseResultMap" type="com.xl.ems.ynnhjc.model.DeviceConfigureModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="energyCode" property="energycode" jdbcType="VARCHAR" />
    <result column="regVersion" property="regversion" jdbcType="VARCHAR" />
    <result column="dicVersion" property="dicversion" jdbcType="VARCHAR" />
    <result column="dataIndex" property="dataindex" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="enterpriseCode" property="enterprisecode" jdbcType="VARCHAR" />
    <result column="deviceName" property="devicename" jdbcType="VARCHAR" />
    <result column="deviceNo" property="deviceno" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="dept" property="dept" jdbcType="VARCHAR" />
    <result column="deviceType" property="devicetype" jdbcType="VARCHAR" />
    <result column="usingDate" property="usingdate" jdbcType="TIMESTAMP" />
    <result column="currentState" property="currentstate" jdbcType="VARCHAR" />
    <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
    <result column="energyValue" property="energyvalue" jdbcType="VARCHAR" />
    <result column="processUnitCode" property="processunitcode" jdbcType="VARCHAR" />
    <result column="backup_field_1" property="backupField1" jdbcType="VARCHAR" />
    <result column="backup_field_2" property="backupField2" jdbcType="VARCHAR" />
    <result column="backup_field_3" property="backupField3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, energyCode, regVersion, dicVersion, dataIndex, remark, enterpriseCode, deviceName, 
    deviceNo, model, location, dept, deviceType, usingDate, currentState, manufacturer, 
    energyValue, processUnitCode, backup_field_1, backup_field_2, backup_field_3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.xl.ems.ynnhjc.model.DeviceConfigureModelKey" >
    select 
    <include refid="Base_Column_List" />
    from yn_nhjc_device_configure
    where id = #{id,jdbcType=INTEGER}
      and energyCode = #{energycode,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据社会信用统一代码查询所有列表 -->
  <select id="selectByEnterpriseCode" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select <include refid="Base_Column_List" />
  	from yn_nhjc_device_configure 
  	where enterpriseCode = #{enterpriseCode, jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="com.xl.ems.ynnhjc.model.DeviceConfigureModelKey" >
    delete from yn_nhjc_device_configure
    where dataIndex = #{dataindex,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xl.ems.ynnhjc.model.DeviceConfigureModel" >
    insert into yn_nhjc_device_configure (id, energyCode, regVersion, 
      dicVersion, dataIndex, remark, 
      enterpriseCode, deviceName, deviceNo, 
      model, location, dept, 
      deviceType, usingDate, currentState, 
      manufacturer, energyValue, processUnitCode, 
      backup_field_1, backup_field_2, backup_field_3
      )
    values (#{id,jdbcType=INTEGER}, #{energycode,jdbcType=VARCHAR}, #{regversion,jdbcType=VARCHAR}, 
      #{dicversion,jdbcType=VARCHAR}, #{dataindex,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{enterprisecode,jdbcType=VARCHAR}, #{devicename,jdbcType=VARCHAR}, #{deviceno,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{dept,jdbcType=VARCHAR}, 
      #{devicetype,jdbcType=VARCHAR}, #{usingdate,jdbcType=TIMESTAMP}, #{currentstate,jdbcType=VARCHAR}, 
      #{manufacturer,jdbcType=VARCHAR}, #{energyvalue,jdbcType=VARCHAR}, #{processunitcode,jdbcType=VARCHAR}, 
      #{backupField1,jdbcType=VARCHAR}, #{backupField2,jdbcType=VARCHAR}, #{backupField3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xl.ems.ynnhjc.model.DeviceConfigureModel" >
    insert into yn_nhjc_device_configure
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="energycode != null" >
        energyCode,
      </if>
      <if test="regversion != null" >
        regVersion,
      </if>
      <if test="dicversion != null" >
        dicVersion,
      </if>
      <if test="dataindex != null" >
        dataIndex,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="enterprisecode != null" >
        enterpriseCode,
      </if>
      <if test="devicename != null" >
        deviceName,
      </if>
      <if test="deviceno != null" >
        deviceNo,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="dept != null" >
        dept,
      </if>
      <if test="devicetype != null" >
        deviceType,
      </if>
      <if test="usingdate != null" >
        usingDate,
      </if>
      <if test="currentstate != null" >
        currentState,
      </if>
      <if test="manufacturer != null" >
        manufacturer,
      </if>
      <if test="energyvalue != null" >
        energyValue,
      </if>
      <if test="processunitcode != null" >
        processUnitCode,
      </if>
      <if test="backupField1 != null" >
        backup_field_1,
      </if>
      <if test="backupField2 != null" >
        backup_field_2,
      </if>
      <if test="backupField3 != null" >
        backup_field_3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="energycode != null" >
        #{energycode,jdbcType=VARCHAR},
      </if>
      <if test="regversion != null" >
        #{regversion,jdbcType=VARCHAR},
      </if>
      <if test="dicversion != null" >
        #{dicversion,jdbcType=VARCHAR},
      </if>
      <if test="dataindex != null" >
        #{dataindex,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="enterprisecode != null" >
        #{enterprisecode,jdbcType=VARCHAR},
      </if>
      <if test="devicename != null" >
        #{devicename,jdbcType=VARCHAR},
      </if>
      <if test="deviceno != null" >
        #{deviceno,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="devicetype != null" >
        #{devicetype,jdbcType=VARCHAR},
      </if>
      <if test="usingdate != null" >
        #{usingdate,jdbcType=TIMESTAMP},
      </if>
      <if test="currentstate != null" >
        #{currentstate,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="energyvalue != null" >
        #{energyvalue,jdbcType=VARCHAR},
      </if>
      <if test="processunitcode != null" >
        #{processunitcode,jdbcType=VARCHAR},
      </if>
      <if test="backupField1 != null" >
        #{backupField1,jdbcType=VARCHAR},
      </if>
      <if test="backupField2 != null" >
        #{backupField2,jdbcType=VARCHAR},
      </if>
      <if test="backupField3 != null" >
        #{backupField3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xl.ems.ynnhjc.model.DeviceConfigureModel" >
    update yn_nhjc_device_configure
    <set >
      <if test="regversion != null" >
        regVersion = #{regversion,jdbcType=VARCHAR},
      </if>
      <if test="dicversion != null" >
        dicVersion = #{dicversion,jdbcType=VARCHAR},
      </if>
      <if test="dataindex != null" >
        dataIndex = #{dataindex,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="enterprisecode != null" >
        enterpriseCode = #{enterprisecode,jdbcType=VARCHAR},
      </if>
      <if test="devicename != null" >
        deviceName = #{devicename,jdbcType=VARCHAR},
      </if>
      <if test="deviceno != null" >
        deviceNo = #{deviceno,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        dept = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="devicetype != null" >
        deviceType = #{devicetype,jdbcType=VARCHAR},
      </if>
      <if test="usingdate != null" >
        usingDate = #{usingdate,jdbcType=TIMESTAMP},
      </if>
      <if test="currentstate != null" >
        currentState = #{currentstate,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="energyvalue != null" >
        energyValue = #{energyvalue,jdbcType=VARCHAR},
      </if>
      <if test="processunitcode != null" >
        processUnitCode = #{processunitcode,jdbcType=VARCHAR},
      </if>
      <if test="backupField1 != null" >
        backup_field_1 = #{backupField1,jdbcType=VARCHAR},
      </if>
      <if test="backupField2 != null" >
        backup_field_2 = #{backupField2,jdbcType=VARCHAR},
      </if>
      <if test="backupField3 != null" >
        backup_field_3 = #{backupField3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and energyCode = #{energycode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xl.ems.ynnhjc.model.DeviceConfigureModel" >
    update yn_nhjc_device_configure
    set regVersion = #{regversion,jdbcType=VARCHAR},
      dicVersion = #{dicversion,jdbcType=VARCHAR},
      dataIndex = #{dataindex,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      enterpriseCode = #{enterprisecode,jdbcType=VARCHAR},
      deviceName = #{devicename,jdbcType=VARCHAR},
      deviceNo = #{deviceno,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      dept = #{dept,jdbcType=VARCHAR},
      deviceType = #{devicetype,jdbcType=VARCHAR},
      usingDate = #{usingdate,jdbcType=TIMESTAMP},
      currentState = #{currentstate,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      energyValue = #{energyvalue,jdbcType=VARCHAR},
      processUnitCode = #{processunitcode,jdbcType=VARCHAR},
      backup_field_1 = #{backupField1,jdbcType=VARCHAR},
      backup_field_2 = #{backupField2,jdbcType=VARCHAR},
      backup_field_3 = #{backupField3,jdbcType=VARCHAR}
    where dataIndex = #{dataindex,jdbcType=VARCHAR}
  </update>
</mapper>