<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xl.ems.ynnhjc.mapper.UidRelationshipModelMapper" >
  <resultMap id="BaseResultMap" type="com.xl.ems.ynnhjc.model.UidRelationshipModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="enterprise_code" property="enterpriseCode" jdbcType="VARCHAR" />
    <result column="io1" property="io1" jdbcType="VARCHAR" />
    <result column="io2" property="io2" jdbcType="VARCHAR" />
    <result column="io3" property="io3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, enterprise_code, io1, io2, io3
  </sql>
  <select id="getAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from yn_nhjc_uid_relationship
  </select>
  <select id="selectByUID" resultMap="BaseResultMap"   parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from yn_nhjc_uid_relationship
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yn_nhjc_uid_relationship
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yn_nhjc_uid_relationship
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xl.ems.ynnhjc.model.UidRelationshipModel" >
    insert into yn_nhjc_uid_relationship (id, uid, enterprise_code, 
      io1, io2, io3)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{enterpriseCode,jdbcType=VARCHAR}, 
      #{io1,jdbcType=VARCHAR}, #{io2,jdbcType=VARCHAR}, #{io3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xl.ems.ynnhjc.model.UidRelationshipModel" >
    insert into yn_nhjc_uid_relationship
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="enterpriseCode != null" >
        enterprise_code,
      </if>
      <if test="io1 != null" >
        io1,
      </if>
      <if test="io2 != null" >
        io2,
      </if>
      <if test="io3 != null" >
        io3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseCode != null" >
        #{enterpriseCode,jdbcType=VARCHAR},
      </if>
      <if test="io1 != null" >
        #{io1,jdbcType=VARCHAR},
      </if>
      <if test="io2 != null" >
        #{io2,jdbcType=VARCHAR},
      </if>
      <if test="io3 != null" >
        #{io3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xl.ems.ynnhjc.model.UidRelationshipModel" >
    update yn_nhjc_uid_relationship
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseCode != null" >
        enterprise_code = #{enterpriseCode,jdbcType=VARCHAR},
      </if>
      <if test="io1 != null" >
        io1 = #{io1,jdbcType=VARCHAR},
      </if>
      <if test="io2 != null" >
        io2 = #{io2,jdbcType=VARCHAR},
      </if>
      <if test="io3 != null" >
        io3 = #{io3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xl.ems.ynnhjc.model.UidRelationshipModel" >
    update yn_nhjc_uid_relationship
    set uid = #{uid,jdbcType=VARCHAR},
      enterprise_code = #{enterpriseCode,jdbcType=VARCHAR},
      io1 = #{io1,jdbcType=VARCHAR},
      io2 = #{io2,jdbcType=VARCHAR},
      io3 = #{io3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>